doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
  link(rel='stylesheet' href='./main.css')
  title Task Manager
form.task-form(action='/submit' method='POST')
  h4 Task manager
  .form-control
    input.task-input(type='text' name='name' placeholder='Insert your task here...')
    button.btn.submit-btn(type='submit') submit
  .form-alert
section.tasks-container
   

ul
  each allTask  in allTasks
    li.allTasks= allTask.name

    button.btn-details(href="/details") Details


           

