doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
  //link(rel='stylesheet' href='./normalize.css')
  //link(rel='stylesheet' href='./main.css')
  title Edit Task
.container
  form.single-task-form
    h4 Details about my task
    .form-control
      label.value= task._id
      p.task-edit-id
    .form-control
      label(for='name').value= 'Task:'
      input(type="text" name="name" id="name" placeholder=task.name)

      
     
    .form-control(action=`/tasks/${task._id}/update` method='POST')
      label(for='completed') Completed
      input.task-edit-completed(type='checkbox' name='completed' checked=task.completed)
    button(type='submit') Update
    .form-alert
  a.btn.back-link(href='/') back to tasks

